@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik+Dirt&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: "Open Sans", sans-serif;
}
header {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 10px;
  color: #555;
}
.grid-container {
  transition: 0.4s all ease-in-out;
  padding: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  background-color: #555;
  box-shadow: var(--shadow);
}

.cell {
  font-size: 2.6em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}
@keyframes append-animate {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.congrats-container {
  animation: append-animate 0.4s linear;
  transition: 0.4s all ease-in-out;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-align: center;
  width: 500px;
  height: 100px;
  background-color: #555;
  color: #fff;
  box-shadow: var(--shadow);
}
.congrats-container > * {
  font-size: x-large;
  padding: 2px;
  letter-spacing: 1px;
  width: 80%;
}
.play-again {
  background-color: #555;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
.play-again:hover {
  background-color: #fff;
  color: #555;
  border: 1px solid #555;
}

.turn-info {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease-in-out;
  padding: 4px;
  background-color: #555;
  color: #fff;
  width: 500px;
  font-size: 1.2em;
  letter-spacing: 1px;
  box-shadow: var(--shadow);
}
.turn-info-h3 {
  border: 1px solid #ddd;
  width: 100%;
  text-align: center;
}

.temp {
  color: gray;
}

.disabled {
  pointer-events: none;
}
.X {
  color: rgb(255, 122, 144);
}

.O {
  color: rgb(83, 229, 245);
}

.tie {
  color: lightgray;
}

@media screen and (max-width: 1200px) {
  .grid-container {
    width: 440px;
    height: 440px;
  }
  .turn-info {
    width: 440px;
  }
  .congrats-container {
    width: 440px;
  }
}
@media screen and (max-width: 992px) {
  .grid-container {
    width: 400px;
    height: 400px;
  }
  .turn-info {
    width: 400px;
  }
  .congrats-container {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .grid-container {
    width: 360px;
    height: 360px;
  }
  .turn-info {
    width: 360px;
  }
  .congrats-container {
    width: 360px;
  }
}
@media screen and (max-width: 480px) {
  .grid-container {
    width: 320px;
    height: 320px;
  }
  .turn-info {
    width: 320px;
  }
  .congrats-container {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .grid-container {
    width: 280px;
    height: 280px;
  }
  .turn-info {
    width: 280px;
  }
  .congrats-container {
    width: 280px;
  }
}
